.task-card {
    width: auto;
    height: auto;
    background-color: yellow;

    perspective: 400px;
	position: absolute;
    right: 0;
    top: 0;
	transform-style: preserve-3d;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
